{# empty Twig template #}
<fieldset>
         <legend align="left"><div id="fieldtitre"> <h3>Remplir votre profil</h3></div></legend>
<form methode="POST">
    Age:<input type="text" name="Age"/><br/>
    Famille: <input type="text" name="Famille"/><br/>
    Nourriture: <input type="text" name="Nourriture"/><br/>
    Race: <input type="text" name="Race"/><br/>
    <input type="submit" name="Ajouter"/>

</form>
</fieldset>
