{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
   <br/><br/>
    
    <fieldset>
         <legend align="left"><div id="fieldtitre"> <h3>Modifier Profil</h3></div></legend>
    {{ form_start(edit_form) }}
    
        {{ form_widget(edit_form) }}
        <br/><br/>
        <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}
       
     <ul>
        
         <a href="{{ path('bonobo_index') }}"><h3>Retour au liste d'amis</h3></a>
        
    </ul>
    </fieldset>

    
{% endblock %}
